// isUser.uid == m.user_id
<div class="chat__area">
    <ng-container>
        <div [ngClass]="{
            'chat__area__message-owner': true
        }"
            class="chat__area__message"
        >
            <span class="chat__area__message__name">John Paul</span>
            <span class="chat__area__message__text">Hello</span>
            <span class="chat__area__message__time">10.50pm</span>
        </div>
    </ng-container>

    <ng-template>
        <h1 style="text-align: center">No messages</h1>
    </ng-template>
</div>
